@font-face {
  font-family: 'Ferrum';
  src: url("../fonts/Ferrum.eot");
  src: url("../fonts/Ferrum.eot?#iefix") format("embedded-opentype"), url("../fonts/Ferrum.woff2") format("woff2"), url("../fonts/Ferrum.woff") format("woff"), url("../fonts/Ferrum.ttf") format("truetype"), url("../fonts/Ferrum.svg#Ferrum") format("svg");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes pulsar {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
    opacity: 0; } }
@keyframes pulsar {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
    opacity: 0; } }
html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ferrum", sans-serif;
  word-break: normal; }

a {
  color: #c6c8c9; }
  a:hover {
    color: #0d0d0d; }

main {
  height: 100%;
  padding-top: 100px;
  /* top = navbar height */ }

.general-footer {
  top: calc(100% - 37.5px);
  bottom: auto;
  background-color: #0d0d0d;
  z-index: 2000; }
  .general-footer.active {
    background-color: #0d0d0d; }
    .general-footer.active::after {
      content: '';
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba(13, 13, 13, 0.6); }
  .general-footer .contact-icon .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75px;
    height: 75px;
    font-size: 2.5em;
    padding: 0px;
    margin-top: calc(75px / -2);
    margin-bottom: calc(75px / 4);
    border-radius: 50%;
    z-index: 20;
    color: #c6c8c9;
    border-color: #0d0d0d;
    background-color: #0d0d0d; }
    .general-footer .contact-icon .btn .fa {
      z-index: 20; }
    .general-footer .contact-icon .btn::after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 75px;
      height: 75px;
      z-index: 1;
      border-radius: 50%;
      -webkit-animation: pulsar 1s ease-out;
              animation: pulsar 1s ease-out;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      background-color: #0d0d0d; }
    .general-footer .contact-icon .btn:active, .general-footer .contact-icon .btn:hover, .general-footer .contact-icon .btn:active:hover {
      border-color: black;
      background-color: black; }
      .general-footer .contact-icon .btn:active::after, .general-footer .contact-icon .btn:hover::after, .general-footer .contact-icon .btn:active:hover::after {
        background-color: black; }
    .general-footer .contact-icon .btn:focus, .general-footer .contact-icon .btn:active:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(13, 13, 13, 0.5);
              box-shadow: 0 0 0 0.2rem rgba(13, 13, 13, 0.5); }
  .general-footer .contact-form {
    margin-bottom: 10px; }
    .general-footer .contact-form .form-row {
      margin-bottom: 10px; }
    .general-footer .contact-form .form-control:focus {
      border-color: rgba(198, 200, 201, 0.3);
      -webkit-box-shadow: 0 0 0 0.2rem rgba(198, 200, 201, 0.25);
              box-shadow: 0 0 0 0.2rem rgba(198, 200, 201, 0.25); }
  .general-footer .credits {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 55px;
    top: 100%;
    text-align: center;
    background-color: #0a0a0a; }
    .general-footer .credits a {
      color: #acafb0; }

#nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000c0f;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 12, 15, 0.6);
          box-shadow: 0px 0px 20px 2px rgba(0, 12, 15, 0.6); }
  #nav-main .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% / 5);
    height: 100px; }
    #nav-main .nav-link.active {
      background-color: rgba(13, 13, 13, 0.6); }

#nav-media {
  position: absolute;
  top: 0px;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  padding: 5px;
  /* temp */
  background-color: white; }
  #nav-media img {
    max-width: 110px; }

.nav-tabs {
  border-bottom: 0px; }
  .nav-tabs .nav-link {
    border-radius: 0px; }
    .nav-tabs .nav-link:hover {
      border: 0px; }

#nav-logo-content {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/Backgrounds/cristal2.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/Backgrounds/cristal2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  #nav-logo-content .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px; }
  #nav-logo-content img {
    margin-bottom: 7.5vh; }

#nav-biography-content {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.85))), url("../img/Backgrounds/altissiaArtwork.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%), url("../img/Backgrounds/altissiaArtwork.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  #nav-biography-content .container, #nav-biography-content .container-fluid {
    height: 100%; }
    #nav-biography-content .container .row, #nav-biography-content .container-fluid .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      height: 100%; }
      #nav-biography-content .container .row .col, #nav-biography-content .container-fluid .row .col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
        position: relative; }
        #nav-biography-content .container .row .col h2, #nav-biography-content .container-fluid .row .col h2 {
          margin-bottom: 5vh;
          font-size: 1.9rem;
          letter-spacing: 1px;
          color: white;
          text-shadow: 2px 2px 4px rgba(13, 13, 13, 0.7); }
        #nav-biography-content .container .row .col img, #nav-biography-content .container-fluid .row .col img {
          min-width: 20vw;
          height: auto; }

#biography {
  display: none; }

.media-content {
  height: 100%; }
  .media-content .container-fluid {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 12vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; }
    .media-content .container-fluid .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 20px;
      background-color: rgba(13, 13, 13, 0.85);
      -webkit-box-shadow: 0px 0px 20px 2px rgba(13, 13, 13, 0.5);
              box-shadow: 0px 0px 20px 2px rgba(13, 13, 13, 0.5);
      color: white; }
      .media-content .container-fluid .container img {
        width: 300px;
        height: auto; }
      .media-content .container-fluid .container p {
        margin: 3vh 1vw; }

#nav-goodies-content {
  position: relative;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  #nav-goodies-content .container {
    padding: 50px 0px 100px; }
  #nav-goodies-content .card {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 30px; }
    #nav-goodies-content .card .content {
      background-color: #f2f2f2;
      cursor: pointer;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    #nav-goodies-content .card .card-footer {
      background-color: transparent;
      border: 0px;
      width: 100%; }
    #nav-goodies-content .card .card-title {
      font-size: 1.35rem;
      text-align: center; }
    #nav-goodies-content .card .card-subtitle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    #nav-goodies-content .card .card-subtitle-item {
      color: #333333;
      font-size: .9rem; }
  #nav-goodies-content #cart-button {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 2.5vw;
    bottom: 7.5vh;
    height: 70px;
    width: 70px;
    font-size: 2rem;
    border-radius: 50%;
    z-index: 10; }
    #nav-goodies-content #cart-button .badge {
      display: none;
      position: absolute;
      display: inline-block;
      /* temp */
      background-color: red;
      border-radius: 50%;
      padding: 3px 6px;
      font-size: .7rem;
      top: 12px;
      left: 38px; }
    #nav-goodies-content #cart-button::after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      z-index: 1;
      border-radius: 50%;
      -webkit-animation: pulsar 1s ease-out;
              animation: pulsar 1s ease-out;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      background-color: #007bff;
      z-index: -1; }

#nav-gallery-content {
  padding: 50px 0px 100px;
  background-image: url("../img/Backgrounds/backgroundGallery.jpg");
  background-position: 0% 0%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  #nav-gallery-content .image-set-item {
    border: 5px solid rgba(255, 255, 255, 0); }
    #nav-gallery-content .image-set-item img {
      width: 100%; }

/*# sourceMappingURL=style.css.map */