header.jumbotron {
  width: 100%;
  height: 100%;
  padding:0px;

  .carousel {
    height: calc(100% - 55px);
    overflow: hidden;

    img {
      width:100%;
      height: auto;
    }

  }
  .carousel-item {
    height: calc(100vh - 55px);
    background: $dark-color;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    h1 {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: bold;
      .color-primary {
        font-size: 110%;
        color:$custom-primary;
      }
    }
    p {
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing:5px;
      word-spacing:5px;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;
    }
    .btn {
      text-transform: uppercase;
    }

  }
  .carousel-caption {
    margin-bottom: 15vh;
  }
  .carousel-indicators {
    bottom:10vh;
    li {
      cursor: pointer;
      width:36px;
      height:6px;
      background-color: $light-color;
      margin:0px 6px;
      &.active {
        background-color: $custom-primary;
      }
    }
  }


  .sub-header {
    height: 55px;
    padding: 0 15px;
    background-color: $custom-primary;

    .fa {
      margin-right: 5px;
    }

    a {
      color:$light-color;
      margin-right: 35px;
    }

  }

}
