
#cookieWarning {
  padding:2vh 0vw;
  .fa {
    cursor:pointer;
    font-size:1.5rem;
  }
}

#go-to-top {
  position:fixed;
  bottom:2.5vh;
  right:2vw;

  a {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: 700;
    font-size:1.8em;
    color:$light-color;
    background-color:$custom-primary;
    @include transition();
    &:hover{
      text-decoration: none;
      background-color:darken($custom-primary,25%);
    }
  }
}

#top-movie .movie-list {
  padding:15px;
  border:1px solid darken($light-color,10%);
}

#social-networks {
  display: none;
  position: fixed;
  top:200px;
  left:0px;
  ul {
    list-style-type:none;
    padding: 0px;
    li {
      margin-bottom: 10px;
    }
    a {
      padding:7.5px;
      padding-right: 10px;
      border-top-right-radius:50px;
      border-bottom-right-radius:50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width:175px;
      color:$light-color;
      background-color: $dark-color;
      font-weight: bold;
      @include transition();
      border:2px solid rgba($dark-color,0);
      border-left: 0px;
      margin-left: -115px;
      &:hover {
        margin-left: 0px;
        text-decoration: none;
        .fa {
          color:$dark-color;
        }
      }
      &[href*="twitter"]{
        background-color: $twitter-main-color;
        &:hover {
          color: $twitter-main-color;
          border-color: $twitter-main-color;
          background-color: $light-color;
          .fa {
            background-color: $twitter-main-color;
            color: $light-color;
          }
        }
      }
      &[href*="facebook"]{
        background-color: $facebook-main-color;
        &:hover {
          color: $facebook-main-color;
          border-color: $facebook-main-color;
          background-color: $light-color;
          .fa {
            background-color: $facebook-main-color;
            color: $light-color;
          }
        }
      }
      &[href*="instagram"]{
        background-color: $instagram-main-color;
        &:hover {
          color: $instagram-main-color;
          border-color: $instagram-main-color;
          background-color: $light-color;
          .fa {
            background-color: $instagram-main-color;
            color: $light-color;
          }
        }
      }
      &[href*="google"]{
        background-color: $google-plus-main-color;
        &:hover {
          color: $google-plus-main-color;
          border-color: $google-plus-main-color;
          background-color: $light-color;
          .fa {
            background-color: $google-plus-main-color;
            color: $light-color;
          }
        }
      }
      .fa {
        color:$dark-color;
        margin-left: 25px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $light-color;
        width:40px;
        height:40px;
        border-radius:50%;
      }
    }
  }
}
