
#cookieWarning {
  padding:2vh 0vw;
  .fa {
    cursor:pointer;
    font-size:1.5rem;
  }
}

#go-to-top {
  position:fixed;
  bottom:2.5vh;
  right:2vw;
  opacity: 0;

  a {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: 700;
    font-size:1.8em;
    color:$light-color;
    background-color:$custom-primary;
    @include transition();
    &:hover{
      text-decoration: none;
      background-color:darken($custom-primary,25%);
    }
  }
}

#top-movie .movie-list {
  padding:15px;
  border:1px solid darken($light-color,10%);
}
