// Colors
$light-color:rgba(255,255,255,1); // #ffffff
$dark-color:rgba(13,13,13,1); // #0d0d0d

$custom-primary: rgba(255,66,64,1); // #ff4240
//$custom-secondary:rgba(165,212,237,1);

// Social colors
$facebook-main-color: rgba(59,89,152,1); // #3b5998
$twitter-main-color: rgba(29, 161,242,1); // #1DA1F2
$google-plus-main-color: rgba(219,68,55,1); // #DB4437
$instagram-main-color:rgba(76,76,76,1); // #4c4c4c
$linkedin-main-color:rgba(0,119,181,1); // #0077B5

// Fonts
$main-font: 'Roboto', sans-serif;
$title-font: 'Lato', sans-serif;
