// Mixins
@import "mixins";

// Variables
@import "variables";
// Main CSS

/*** General Properties ***/

* {
  box-sizing: border-box;
}
html, body {
  width:100%;
  height: 100%;
}
body {
  font-family:$main-font;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $title-font;
  word-break: normal;
}
a {
  color:$custom-primary;
  &:hover{
    color:$dark-color;
  }
}

/*** Restyling ***/

.btn-primary {
  background-color:$custom-primary;
  border-color: $custom-primary;
  @include transition();
  &:hover{
    background-color: $dark-color;
    border-color: $dark-color;
    color:$light-color;
  }
}
