// Mixins
@import "mixins";

// Variables
@import "variables";

// Buttons
@import "button";

// HTML tag
@import "html-tag";

// Main CSS

/*** Generic classes ***/

.less-more-movies {
  display: flex;
  justify-content: center;
  margin: 2.5vh 0vw;
  button {
    margin:0vh 1vw;
  }
}

/*** General CSS ***/

.movie-list aside,
.tvshow-list aside {
  margin:2vh 0vw;
}

/*** Specific element ***/

#cookieWarning {
  padding:2vh 0vw;
  .fa {
    cursor:pointer;
    font-size:1.5rem;
  }
}
