@font-face {
    font-family: 'Ferrum';
    src: url('../fonts/Ferrum.eot');
    src: url('../fonts/Ferrum.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ferrum.woff2') format('woff2'),
        url('../fonts/Ferrum.woff') format('woff'),
        url('../fonts/Ferrum.ttf') format('truetype'),
        url('../fonts/Ferrum.svg#Ferrum') format('svg');
    font-weight: normal;
    font-style: normal;
}
