@font-face {
    font-family: 'Final Fantasy';
    src: url('New.eot');
    src: url('New.eot?#iefix') format('embedded-opentype'),
        url('New.woff2') format('woff2'),
        url('New.woff') format('woff'),
        url('New.ttf') format('truetype'),
        url('New.svg#New') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ferrum';
    src: url('Ferrum.eot');
    src: url('Ferrum.eot?#iefix') format('embedded-opentype'),
        url('Ferrum.woff2') format('woff2'),
        url('Ferrum.woff') format('woff'),
        url('Ferrum.ttf') format('truetype'),
        url('Ferrum.svg#Ferrum') format('svg');
    font-weight: normal;
    font-style: normal;
}
