.general-footer {

  top:calc(100% - 37.5px);
  bottom: auto;
  background-color: $dark-color;
  z-index:2000;

  &.active {
    background-color: $dark-color;
    &::after {
      content:'';
      position: fixed;
      top:0px;
      left: 0px;
      width:100%;
      height:100%;
      z-index:-1;
      background-color: rgba($dark-color,.5);
    }
  }

  .contact-icon {

    .btn {

      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width:75px;
      height: 75px;
      font-size:2.5em;
      padding:0px;
      margin-top: calc(75px / -2);
      margin-bottom: calc(75px / 4);
      border-radius: 50%;
      z-index:20;
      color:$custom-primary;
      border-color: $dark-color;
      background-color: $dark-color;

      .fa {
        z-index: 20;
      }

      &::after {
        content:' ';
        position: absolute;
        top:0;
        left:0;
        width:75px;
        height: 75px;
        z-index:1;
        border-radius: 50%;
        animation: pulsar 1s ease-out;
        animation-iteration-count: infinite;
        background-color: $dark-color;
      }

      &:active, &:hover, &:active:hover {
        border-color: darken($dark-color,10%);
        background-color: darken($dark-color,10%);
        &::after {
          background-color: darken($dark-color,10%);
        }
      }
      &:focus, &:active:focus {
        box-shadow: 0 0 0 0.2rem rgba($dark-color,.5);
      }

    }

  } // end .contact-icon

  .contact-form {

    margin-bottom: 10px;

    .form-row {
      margin-bottom: 10px
    }
    .form-control:focus {
      border-color: rgba($custom-primary,.3);
      box-shadow: 0 0 0 0.2rem rgba($custom-primary,.25);
    }

  } // end .contact-form

  .credits {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 55px;
    top:100%;
    text-align: center;
    background-color: darken($dark-color,1%);
    a {
      color:darken($custom-primary,10%);
    }

  }

}
