html, body {
  width:100%;
  height: 100%;
}

body {
  font-family:$main-font;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $title-font;
  word-break: normal;
}

a {
  color:$custom-primary;
  &:hover{
    color:$dark-color;
  }
}

main {
  height: 100%;
  padding-top:100px; /* top = navbar height */
}
