.information-modal {

  .modal-header {
    border-radius: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: $custom-secondary;
    color:$light-color;
    .close {
      color:$light-color;
    }
  }

  .modal-body {
    padding: 1.5rem;

    p {
      margin-top: .9rem;
      font-size: .9rem;
    }

    table {
      font-size:.9em;
      tr {
        &.price {
          font-weight: bold;
        }
        td {
          border-top-color:darken($light-color,7.5%);
        }
        td:first-child {
          width:30%;
          min-width:100px;
        }
        &:first-child {
          td {
            border-top:0px;
          }
        }
      }
    }

  }

  .modal-footer {
    border-radius: 0px;
    background-color: darken($custom-secondary,10%);
    color:$light-color;

    .container-fluid{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: nowrap;
    }

    input[type=number] {
      display: inline-block;
      width:100px;
      margin-right: 10px;
      &:focus {
       box-shadow: 0 0 0 0.3rem rgba($custom-primary,.2);
      }
    }
    .btn-light {
      background-color: lighten($custom-secondary,40%);
      border-color: lighten($custom-secondary,30%);
      color:$dark-color;
    }


  }

}
