#nav-main {
  display:flex;
  justify-content: space-around;
  align-items: center;
  //@include background-gradient-ffxv(right);
  background-color: $custom-secondary;
  box-shadow: 0px 0px 20px 2px rgba($custom-secondary,.6);

  a {
    color:$light-color;
    font-weight: bold;
    text-transform: uppercase;
    &.active {
      color:darken($light-color,15%);
    }
  }
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width:calc(100% / 5);
    height:100px;
    border:0px;
    margin-bottom: 0px;

    &.active {
      background-color:rgba($light-color,.2);
      border:0px;
    }
  }

}
#nav-media {
  position: absolute;
  top:0px;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding:5px;
  box-shadow: 0px 0px 20px 2px rgba($custom-secondary,.6);
  /* temp */ background-color: white;
  img {
    max-width: 110px;
  }
}

.nav-tabs {
  border-bottom: 0px;
  .nav-link {
    border-radius: 0px;
    &:hover {
      border:0px;
    }
  }
}
