#nav-main {
  display:flex;
  justify-content: space-around;
  align-items: center;
  @include background-gradient-ffxv(right);

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width:calc(100% / 5);
    height:100px;

    &.active {
      background-color:rgba($dark-color,.6);
    }
  }

}
#nav-media {
  position: absolute;
  top:0px;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding:5px;
  /* temp */ background-color: white;
  img {
    max-width: 110px;
  }
}

.nav-tabs {
  border-bottom: 0px;
  .nav-link {
    border-radius: 0px;
    &:hover {
      border:0px;
    }
  }
}
