// Mixins
@import "mixins";

// Variables
@import "variables";

// Import fonts
@import "fonts";

// Import FX
@import "fx";

// Import footer
@import "footer";

// Import navbar
@import "navbar";


// Temporary CSS
img {
  max-width:100px;
}
#nav-media {
  position: absolute;
  top:0px;
}

#nav-biography {
  width:100%;
  height:50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

main {
  margin-top:80px;
}
